@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

* {
    box-sizing: border-box;
}

@theme inline {
    --font-great-vibes: 'Great Vibes', cursive;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: rgba(255, 255, 255, 1);
    --foreground: rgba(37, 37, 37, 1);
    --card: rgba(255, 255, 255, 1);
    --card-foreground: rgba(37, 37, 37, 1);
    --popover: rgba(255, 255, 255, 1);
    --popover-foreground: rgba(37, 37, 37, 1);
    --primary: rgba(74, 51, 255, 1);
    --primary-foreground: rgba(251, 251, 251, 1);
    --secondary: rgba(247, 247, 247, 1);
    --secondary-foreground: rgba(52, 52, 52, 1);
    --muted: rgba(247, 247, 247, 1);
    --muted-foreground: rgba(142, 142, 142, 1);
    --accent: rgba(247, 247, 247, 1);
    --accent-foreground: rgba(52, 52, 52, 1);
    --destructive: rgba(255, 71, 26, 1);
    --destructive-foreground: rgba(255, 71, 26, 1);
    --border: rgba(235, 235, 235, 1);
    --input: rgba(235, 235, 235, 1);
    --ring: rgba(181, 181, 181, 1);
    --chart-1: rgba(255, 191, 0, 1);
    --chart-2: rgba(51, 153, 255, 1);
    --chart-3: rgba(102, 102, 255, 1);
    --chart-4: rgba(255, 221, 51, 1);
    --chart-5: rgba(255, 204, 102, 1);
    --radius: 0.625rem;
    --sidebar: rgba(251, 251, 251, 1);
    --sidebar-foreground: rgba(37, 37, 37, 1);
    --sidebar-primary: rgba(52, 52, 52, 1);
    --sidebar-primary-foreground: rgba(251, 251, 251, 1);
    --sidebar-accent: rgba(247, 247, 247, 1);
    --sidebar-accent-foreground: rgba(52, 52, 52, 1);
    --sidebar-border: rgba(235, 235, 235, 1);
    --sidebar-ring: rgba(181, 181, 181, 1);
    --color-green-600: #16a34a;
    --color-black: #000000;
    --color-gray-200: #e5e7eb;
}

.dark {
    --background: rgba(37, 37, 37, 1);
    --foreground: rgba(251, 251, 251, 1);
    --card: rgba(37, 37, 37, 1);
    --card-foreground: rgba(251, 251, 251, 1);
    --popover: rgba(37, 37, 37, 1);
    --popover-foreground: rgba(251, 251, 251, 1);
    --primary: rgba(251, 251, 251, 1);
    --primary-foreground: rgba(52, 52, 52, 1);
    --secondary: rgba(69, 69, 69, 1);
    --secondary-foreground: rgba(251, 251, 251, 1);
    --muted: rgba(69, 69, 69, 1);
    --muted-foreground: rgba(181, 181, 181, 1);
    --accent: rgba(69, 69, 69, 1);
    --accent-foreground: rgba(251, 251, 251, 1);
    --destructive: rgba(181, 47, 26, 1);
    --destructive-foreground: rgba(217, 60, 26, 1);
    --border: rgba(69, 69, 69, 1);
    --input: rgba(69, 69, 69, 1);
    --ring: rgba(112, 112, 112, 1);
    --chart-1: rgba(74, 51, 255, 1);
    --chart-2: rgba(102, 204, 255, 1);
    --chart-3: rgba(255, 204, 102, 1);
    --chart-4: rgba(160, 102, 255, 1);
    --chart-5: rgba(255, 153, 51, 1);
    --sidebar: rgba(52, 52, 52, 1);
    --sidebar-foreground: rgba(251, 251, 251, 1);
    --sidebar-primary: rgba(74, 51, 255, 1);
    --sidebar-primary-foreground: rgba(251, 251, 251, 1);
    --sidebar-accent: rgba(69, 69, 69, 1);
    --sidebar-accent-foreground: rgba(251, 251, 251, 1);
    --sidebar-border: rgba(69, 69, 69, 1);
    --sidebar-ring: rgba(112, 112, 112, 1);
}

@layer base {
    :root {
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@media print {
    @page {
        size: A4; /* or letter */
        margin: 0;
    }

    body {
        max-height: 100vh;
        overflow: hidden;
    }

    main {
        max-height: 100vh;
        overflow: hidden;
    }
}
